@page "/"
@using ReimaginedLauncherMaui.Services


<div>
    Found Game Path: <span>@GamePath</span>
</div>

<div>
    <label>Override Game Path</label>
    <input type="text" @bind="GamePath" />
</div>

<div>
    <label>
        Override Launch Parameters
    </label>
    <input type="text" @bind="LaunchParameters" />
</div>

<button @onclick="LaunchGame">
    Launch Game
</button>

@code {
    [Inject]
    private GameLauncherService? GameLauncher { get; set; }

    private string? GamePath { get; set; }
    private string? LaunchParameters { get; set; }
    
    protected override Task OnInitializedAsync()
    {
        // Initialize any necessary services or data here.
        try
        {
            GamePath = GameLauncher?.InstallDirectory;
            LaunchParameters = GameLauncher?.LaunchParameters;
        }
        catch (Exception ex)
        {
            // Handle any errors that might occur during initialization.
            Console.WriteLine("Error finding game path: " + ex.Message);
        }

        return Task.CompletedTask;
    }

    private void LaunchGame()
    {
        try
        {
            GameLauncher?.LaunchGame(LaunchParameters, GamePath);
        }
        catch (Exception ex)
        {
            // Handle any errors that might occur during the launch process.
            Console.WriteLine("Error launching game: " + ex.Message);
        }
    }
}